<main class="container">
	<div align="center">

		<div class="userprofile">
			IMG:
			<img src=<%= @user.name %> height='200px'></img>

			<h2> <%= @user.name %> </h2>


			Name:
			<h3><%= @user.name %></h3>

			Email:
			<p><%= @user.email %></p>

			Location:
			<!-- A dropdown menu that has locations -->
			<p><%= @user.location %></p>

	</div>
	<section class="postblock">
			<p> </p>
	</section>
</main>