<% if !current_user %>

<!-- Sign Up -->
	<div class='signup'>
		<div class='signupcontent'>
			<h1 class="signuph1">Sign Up!</h1>
			<% if flash[:notice] %>
	    	<div class="notice"><%= flash[:notice] %></div>
	  	<% end %>
	  	<div align="center">
				<%= form_for :user, url: '/users' do |f| %>
					<div class="cscform">
						<%= f.text_field :name, placeholder: "Name"%>
						<%= f.text_field :email, placeholder: "Email" %>
						<%= f.password_field :password, placeholder: "Password" %>
						<%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
						<%= f.text_field :image, placeholder: "Display Picture URL"  %>
					  <%= f.select :location, [['North America','North America'],['South America','South America'],['Europe','Europe'],['Asia','Asia'],['Africa','Africa']] %>
					</div>
					<br/>
		  		<%= f.submit "Submit", :class => "submit"%>
				<% end %>
			</div>
		</div>
	</div>

<% else %> 
	
<!-- Content Feed -->
	<main class="container" style="overflow-y: scroll; height:100%;" >
		<div class='contentcolumn' align="center">

<!-- Content Form -->
			<img class='house' src="https://image.flaticon.com/icons/svg/88/88003.svg" height="50px">
			<%= form_for :contents, url: '/contents' do |f| %>
				<div class="contentsform">
					<div style="display: none;">
						<%= f.text_field :user_id, :value => current_user.id %>
						<%= f.text_field :user_name, :value => current_user.name %>
						<%= f.text_field :user_image, :value => current_user.image %>
					</div>
					<%= f.text_field :content, placeholder: "What are you thinking about?" %>
				</div>
				<br/>
		  	<%= f.submit "Submit" %>
			<% end %>

	 		<% if flash[:notice] %>
    		<div class='flashnotice'><%= flash[:notice] %></div>
 		 	<% end %>


<!-- Content Blocks -->
			<section>
				<% @content.reverse.each do |content| %>
					<div class='userblock'>
						<div class='userblockborder'>
							<img class='userimg' height="60px" width="60px" src=<%= content.user_image %>>
								<div class='username'>
									<a href="users/<%= content.user_id.to_s %>"> <%= content.user_name%></a>
									<p class='contenttime'>	Time:<%=content.created_at %> </p>
								</div>
						</div>
					</div>
					<div class='blockcontent'>
						<div class='contentpost'>
							<p><%= content.content %> </p>
						</div>

	<!-- Content Delete Button -->
						<% if content.user_id == current_user.id %>
							<%= button_to "Delete Post", {:controller => :contents, :action => 'destroy', :id => content.id }, :method => :contentdelete %>
						<% end %>
							
	<!-- Like Button -->
						<div class='likeform'>
							<% liked = false %>
							<% likedid = 0 %>
							<% @like.each do |like| %>
								<% if like.content_id === content.id %>
									<% if like.user_id === current_user.id %>
										<% liked = true %>
										<% likedid = like.id %>
									<% end %>
								<% end %>
							<% end %>
							<% if liked != true %>
								<%= form_for :likes, url: '/likes' do |f| %>
									<div class="cscform">
										<div style="display: none;">
											<%= f.text_field :content_id, :value => content.id %>
											<%= f.text_field :user_id, :value => current_user.id %>
											<%= f.text_field :user_name, :value => current_user.name %>					
										</div>
									</div>
									<br/>
									<div class='likebutton'>
								  	<%= f.submit "", :type => :image, :src => "https://image.flaticon.com/icons/svg/214/214309.svg", :height => '5%' %>
								  </div>
								  	<% end %>
						  <% else %>
					 			<%= button_to "Remove Like", {:controller => :likes, :action => 'destroy', :id => likedid }, :method => :contents_delete%>
						  <% end %>

	<!-- Save Form -->
						<div>
							<% saved = false %>
							<% saveid = 0 %>
							<% @save.each do |save| %>
								<% if save.content_id === content.id %>
									<% if save.user_id === current_user.id %>
										<% saved = true %>
										<% saveid = save.id %>
									<% end %>
								<% end %>
							<% end %>
							<% if saved != true %>
								<%= form_for :saves, url: '/saves' do |f| %>
									<div class="cscform">
										<div style="display: none;">
											<%= f.text_field :user_id, :value => current_user.id %>			
											<%= f.text_field :content_id, :value => content.id %>
										</div>
									</div>
									<br/>
									<div class='savebutton'>
								 		<%= f.submit "", :type => :image, :src => "https://image.flaticon.com/icons/svg/179/179577.svg", :height => '4%' %>
								 	</div>
								<% end %>
						  <% else %>
						 		<%= button_to "Remove Save", {:controller => :saves, :action => 'destroy', :id => saveid }, :method => :contents_delete%>
						  <% end %>
						</div>
					</div>
						</div>

	<!-- Likes Display -->
						<% likes = 0 %>
						<% @like.each do |like| %>
							<% if content.id === like.content_id %>
								<% likes += 1 %>
							<%end%>
						<% end %>
						<p>This post was liked <%= likes %> times.</p>

	<!-- Comment Blocks -->
					<h3 class = "commenth3"> Comments </h3>
					<% @comment.each do |comment| %>
						<% if comment.content_id === content.id %>
							<div class='commentblock'>
								<div class='usercommentborder'>
									<img class='userimg' height="60px" width="60px" src=<%= comment.user_image %>>
									<div class="commentusername">
										<a href="users/<%= comment.user_id.to_s %>"> <%= comment.user_name%></a>
									</div>
									<p> <%= comment.created_at %> </p>
								</div>
								<p class="comment"> <%= comment.comment %> </p>

	<!-- Comment Delete Button -->
				    		<% if comment.user_id == current_user.id %>
									<%= button_to "Delete", {:controller => :comments, :action => 'destroy', :id => comment.id }, :method => :contents_delete %>
				  		  <% end %>
							</div>
				 	 	<% end %> 
					<% end %>

	<!-- Comment Form -->
					<div class='commentblock'>
						<%= form_for :comments, url: '/comments' do |f| %>
							<div class="cscform">
								<div style="display: none;">
									<%= f.text_field :content_id, :value => content.id %>
									<%= f.text_field :user_id, :value => current_user.id %>
									<%= f.text_field :user_name, :value => current_user.name %>
									<%= f.text_field :user_image, :value => current_user.image %>
								</div>
							</div>
							<div class='commentform'>
								<%= f.text_field :comment, placeholder: "Enter Comment Here", style: 'width: 200px; display: block; text-align: center' %>
							</div>
							<br/>
	  					<%= f.submit "Submit" %>
	  				<% end %>
	  			</div>
				<%end %> <!-- End to @Content -->
			</section>
		</div>
	</main>
<% end %>