<% if !current_user %>
	<div class='signup'>
		<div class='signupcontent'>
			<h1 class="signuph1">Sign Up!</h1>
			<% if flash[:notice] %>
	    	<div class="notice"><%= flash[:notice] %>
	    	</div>
	  	<% end %>
	  	<div align="center">
				<%= form_for :user, url: '/users' do |f| %>
					<div class="signupform">
						<%= f.text_field :name, placeholder: "Name"%>
					</div>
					<div class="signupform">
						<%= f.text_field :email, placeholder: "Email" %>
					</div>
					<div class="signupform">
						<%= f.password_field :password, placeholder: "Password" %>
					</div>
					<div class="signupform">
						<%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
					</div>
					<br/>
		  		<%= f.submit "Submit" %>
				<% end %>
		</div>
	</div>
	<% else %> 
	<main class="container">
		<section class="postblock">
			<p> Display recent posts here </p>
		</section>
	</main>
<% end %>