<% if !current_user %>
<!-- Sign Up -->
	<div class='signup'>
		<div class='signupcontent'>
			<h1 class="signuph1">Sign Up!</h1>
			<% if flash[:notice] %>
	    	<div class="notice"><%= flash[:notice] %>
	    	</div>
	  	<% end %>
	  	<div align="center">
				<%= form_for :user, url: '/users' do |f| %>
					<div class="signupform">
						<%= f.text_field :name, placeholder: "Name"%>
					</div>
					<div class="signupform">
						<%= f.text_field :email, placeholder: "Email" %>
					</div>
					<div class="signupform">
						<%= f.password_field :password, placeholder: "Password" %>
					</div>
					<div class="signupform">
						<%= f.password_field :password_confirmation, placeholder: "Password Confirmation"  %>
					</div>
					<div class="signupformdrop">
						<%= f.text_field :image, placeholder: "Display Picture URL"  %>
					</div>
					<div class="signupformdrop">
					  <%= f.select :location, [['North America','North America'],['South America','South America'],['Europe','Europe'],['Asia','Asia'],['Africa','Africa']] %>
					 </div>
					<br/>
		  			<%= f.submit "Submit", :class => "submit"%>
				<% end %>
		</div>
	</div>
	<% else %> 
	<!-- Content Feed -->
	<main class="container" style="overflow-y: scroll; height:100%;" >
		  	<div align="center">
				<%= form_for :contents, url: '/contents' do |f| %>
					<div class="signupform">
						<div style="display: none;">
							<%= f.text_field :user_id, :value => current_user.id %>
							<%= f.text_field :user_name, :value => current_user.name %>
							<%= f.text_field :user_image, :value => current_user.image %>							
						</div>
						<%= f.text_field :content, placeholder: "" %>
<!-- 						<%= hidden_field_tag :user_id, session[:user_id] %> -->
					</div>
					<br/>
		  		<%= f.submit "Submit" %>
				<% end %>
		<section class="postblock">
			<% @content.reverse.each do |content| %>
				<div class='content'> 
					<img src=<%= content.user_image %>>
					<div>
						<a href="users/<%= content.user_id.to_s %>"> <%= content.user_name%> </a>
					</div>
					<p class='contentinfo'><%= content.user_id%></p>
					<p>- - -</p>
					<p class='contentinfo'><%= content.content %> </p>
					<p class='contentinfo'>	Time:<%=content.created_at %> </p>
					</p>
				</div>
			<%end%>
		</section>
	</main>
<% end %>